## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Severo-Kurilsk,RU,50.6789,156.1250,27.45,68,71,14.88,broken clouds
1,1,Henties Bay,NaN,-22.1160,14.2845,62.85,88,0,5.79,clear sky
2,2,Clyde River,CA,70.4692,-68.5914,-8.54,75,80,4.25,broken clouds
3,3,Bell Ville,AR,-32.6259,-62.6887,96.78,12,2,9.19,clear sky
4,4,Antofagasta,CL,-23.6500,-70.4000,69.60,75,99,4.07,overcast clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
minTemp = input("What is your minimum temperature preference? ")
maxTemp = input("What is your maximum temperature preference? ")

What is your minimum temperature preference? 60
What is your maximum temperature preference? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
city_data_df = city_data_df.loc[(city_data_df["Max Temp"] < int(maxTemp)) & (city_data_df["Max Temp"] > int(minTemp))]
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Henties Bay,NaN,-22.1160,14.2845,62.85,88,0,5.79,clear sky
4,4,Antofagasta,CL,-23.6500,-70.4000,69.60,75,99,4.07,overcast clouds
5,5,Sao Joao Da Barra,BR,-21.6403,-41.0511,77.09,76,100,18.68,light rain
6,6,Los Llanos De Aridane,ES,28.6585,-17.9182,60.55,87,0,1.99,clear sky
7,7,Hilo,US,19.7297,-155.0900,73.80,43,90,10.36,moderate rain

In [5]:
# 4a. Determine if there are any empty rows.
city_data_df.count()

City_ID                350
City                   350
Country                343
Lat                    350
Lng                    350
Max Temp               350
Humidity               350
Cloudiness             350
Wind Speed             350
Current Description    350
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
city_data_df = city_data_df.dropna()
city_data_df.count()

City_ID                343
City                   343
Country                343
Lat                    343
Lng                    343
Max Temp               343
Humidity               343
Cloudiness             343
Wind Speed             343
Current Description    343
dtype: int64

In [8]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = city_data_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()


# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
4,Antofagasta,CL,69.60,overcast clouds,-23.6500,-70.4000,
5,Sao Joao Da Barra,BR,77.09,light rain,-21.6403,-41.0511,
6,Los Llanos De Aridane,ES,60.55,clear sky,28.6585,-17.9182,
7,Hilo,US,73.80,moderate rain,19.7297,-155.0900,
8,Vaini,TO,84.36,few clouds,-21.2000,-175.2000,
10,Atuona,PF,79.23,clear sky,-9.8000,-139.0333,
11,Kalmunai,LK,72.66,scattered clouds,7.4167,81.8167,
13,Cap Malheureux,MU,80.47,overcast clouds,-19.9842,57.6142,
14,Punta Arenas,CL,62.71,clear sky,-53.1500,-70.9167,
15,Carutapera,BR,80.49,overcast clouds,-1.1950,-46.0200,

In [17]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key,
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
   
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json?"
    params["location"] = f"{lat},{lng}"
    # 6e. Make request and retrieve the JSON data from the search. 
    hotel_result = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotel_result["results"][0]["name"]
        print("Row " + str(index) + " successful.")
    except (IndexError):
        print("Hotel not found... skipping.")
print("Search complete!")

Row 4 successful.
Row 5 successful.
Row 6 successful.
Row 7 successful.
Row 8 successful.
Row 10 successful.
Row 11 successful.
Row 13 successful.
Row 14 successful.
Row 15 successful.
Row 19 successful.
Row 20 successful.
Row 23 successful.
Row 27 successful.
Row 28 successful.
Row 31 successful.
Row 34 successful.
Row 35 successful.
Row 36 successful.
Row 37 successful.
Row 38 successful.
Row 39 successful.
Row 40 successful.
Row 42 successful.
Row 44 successful.
Row 49 successful.
Row 51 successful.
Row 52 successful.
Row 53 successful.
Row 54 successful.
Row 55 successful.
Row 56 successful.
Row 59 successful.
Row 60 successful.
Row 61 successful.
Hotel not found... skipping.
Row 67 successful.
Row 68 successful.
Row 70 successful.
Row 73 successful.
Row 75 successful.
Row 76 successful.
Row 77 successful.
Row 78 successful.
Row 80 successful.
Row 81 successful.
Row 89 successful.
Row 90 successful.
Row 91 successful.
Row 92 successful.
Row 93 successful.
Row 95 successful.
Row 100 successful.
Row 101 successful.
Row 103 successful.
Row 108 successful.
Row 110 successful.
Row 111 successful.
Row 112 successful.
Row 113 successful.
Row 119 successful.
Row 121 successful.
Row 122 successful.
Row 125 successful.
Row 129 successful.
Row 132 successful.
Row 134 successful.
Row 135 successful.
Row 136 successful.
Row 138 successful.
Row 144 successful.
Row 148 successful.
Row 149 successful.
Row 150 successful.
Row 153 successful.
Row 155 successful.
Row 157 successful.
Row 158 successful.
Row 159 successful.
Row 160 successful.
Row 161 successful.
Row 163 successful.
Row 166 successful.
Row 171 successful.
Row 172 successful.
Row 173 successful.
Row 174 successful.
Row 179 successful.
Row 180 successful.
Row 182 successful.
Row 184 successful.
Row 189 successful.
Row 190 successful.
Row 193 successful.
Row 195 successful.
Row 198 successful.
Hotel not found... skipping.
Row 202 successful.
Row 205 successful.
Row 206 successful.
Row 209 successful.
Row 211 successful.
Row 212 successful.
Row 215 successful.
Row 216 successful.
Row 220 successful.
Row 221 successful.
Hotel not found... skipping.
Row 224 successful.
Row 225 successful.
Row 227 successful.
Row 228 successful.
Row 229 successful.
Row 230 successful.
Row 231 successful.
Row 241 successful.
Hotel not found... skipping.
Row 243 successful.
Row 244 successful.
Row 246 successful.
Row 247 successful.
Row 249 successful.
Row 250 successful.
Row 252 successful.
Row 253 successful.
Row 255 successful.
Row 256 successful.
Row 257 successful.
Row 258 successful.
Row 259 successful.
Hotel not found... skipping.
Row 264 successful.
Row 265 successful.
Row 266 successful.
Row 272 successful.
Row 273 successful.
Row 275 successful.
Row 276 successful.
Row 280 successful.
Row 281 successful.
Hotel not found... skipping.
Row 283 successful.
Row 286 successful.
Hotel not found... skipping.
Row 290 successful.
Row 291 successful.
Row 293 successful.
Row 294 successful.
Row 297 successful.
Row 298 successful.
Row 300 successful.
Row 301 successful.
Row 303 successful.
Hotel not found... skipping.
Row 308 successful.
Row 309 successful.
Row 311 successful.
Row 312 successful.
Row 316 successful.
Row 318 successful.
Row 326 successful.
Row 328 successful.
Row 329 successful.
Row 331 successful.
Row 332 successful.
Row 333 successful.
Row 340 successful.
Row 341 successful.
Row 344 successful.
Row 345 successful.
Row 346 successful.
Row 347 successful.
Row 349 successful.
Row 354 successful.
Row 355 successful.
Hotel not found... skipping.
Row 359 successful.
Row 363 successful.
Row 364 successful.
Row 365 successful.
Hotel not found... skipping.
Row 368 successful.
Row 369 successful.
Hotel not found... skipping.
Row 372 successful.
Row 373 successful.
Row 374 successful.
Row 380 successful.
Row 383 successful.
Row 387 successful.
Row 388 successful.
Row 391 successful.
Row 394 successful.
Row 395 successful.
Row 397 successful.
Row 398 successful.
Row 399 successful.
Row 400 successful.
Row 402 successful.
Row 403 successful.
Row 405 successful.
Row 406 successful.
Row 407 successful.
Row 408 successful.
Row 409 successful.
Row 411 successful.
Row 413 successful.
Row 415 successful.
Row 416 successful.
Row 418 successful.
Row 419 successful.
Row 425 successful.
Row 428 successful.
Row 429 successful.
Row 431 successful.
Row 432 successful.
Row 436 successful.
Row 440 successful.
Row 442 successful.
Hotel not found... skipping.
Row 444 successful.
Row 445 successful.
Row 447 successful.
Row 448 successful.
Row 449 successful.
Row 450 successful.
Row 451 successful.
Row 453 successful.
Row 454 successful.
Row 455 successful.
Hotel not found... skipping.
Row 458 successful.
Row 459 successful.
Row 460 successful.
Row 461 successful.
Row 462 successful.
Row 464 successful.
Row 465 successful.
Row 466 successful.
Row 467 successful.
Row 471 successful.
Row 473 successful.
Row 474 successful.
Row 475 successful.
Row 476 successful.
Hotel not found... skipping.
Row 480 successful.
Row 483 successful.
Row 486 successful.
Row 488 successful.
Row 490 successful.
Row 495 successful.
Row 500 successful.
Row 501 successful.
Row 502 successful.
Row 503 successful.
Row 504 successful.
Row 505 successful.
Row 508 successful.
Row 511 successful.
Hotel not found... skipping.
Row 514 successful.
Row 515 successful.
Row 521 successful.
Row 526 successful.
Row 530 successful.
Row 531 successful.
Row 533 successful.
Hotel not found... skipping.
Row 538 successful.
Row 539 successful.
Row 540 successful.
Row 545 successful.
Row 546 successful.
Row 547 successful.
Row 548 successful.
Row 549 successful.
Row 551 successful.
Row 553 successful.
Row 554 successful.
Row 555 successful.
Row 559 successful.
Row 560 successful.
Row 564 successful.
Row 565 successful.
Row 566 successful.
Row 568 successful.
Row 569 successful.
Row 572 successful.
Row 573 successful.
Row 574 successful.
Row 576 successful.
Row 578 successful.
Row 580 successful.
Row 582 successful.
Row 584 successful.
Row 586 successful.
Row 587 successful.
Row 589 successful.
Row 593 successful.
Row 594 successful.
Row 595 successful.
Row 597 successful.
Row 601 successful.
Row 602 successful.
Row 603 successful.
Row 604 successful.
Row 606 successful.
Row 611 successful.
Row 613 successful.
Row 615 successful.
Row 619 successful.
Hotel not found... skipping.
Row 621 successful.
Row 622 successful.
Row 623 successful.
Row 625 successful.
Row 626 successful.
Row 627 successful.
Row 629 successful.
Row 630 successful.
Row 635 successful.
Row 640 successful.
Row 641 successful.
Row 643 successful.
Row 645 successful.
Hotel not found... skipping.
Row 650 successful.
Row 652 successful.
Row 653 successful.
Row 654 successful.
Row 657 successful.
Row 661 successful.
Row 663 successful.
Row 667 successful.
Row 668 successful.
Row 670 successful.
Row 673 successful.
Row 677 successful.
Row 678 successful.
Row 679 successful.
Row 685 successful.
Row 687 successful.
Search complete!

In [18]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.loc[hotel_df["Hotel Name"]!=""]
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
4,Antofagasta,CL,69.60,overcast clouds,-23.6500,-70.4000,"Holiday Inn Express Antofagasta, an IHG Hotel"
5,Sao Joao Da Barra,BR,77.09,light rain,-21.6403,-41.0511,Pousada Porto De Canoas
6,Los Llanos De Aridane,ES,60.55,clear sky,28.6585,-17.9182,Valle Aridane
7,Hilo,US,73.80,moderate rain,19.7297,-155.0900,Hilo Hawaiian Hotel
8,Vaini,TO,84.36,few clouds,-21.2000,-175.2000,Keleti Beach Resort
10,Atuona,PF,79.23,clear sky,-9.8000,-139.0333,Villa Enata
11,Kalmunai,LK,72.66,scattered clouds,7.4167,81.8167,VS Villa
13,Cap Malheureux,MU,80.47,overcast clouds,-19.9842,57.6142,Pereybere Hotel & Spa
14,Punta Arenas,CL,62.71,clear sky,-53.1500,-70.9167,Hotel Hain
15,Carutapera,BR,80.49,overcast clouds,-1.1950,-46.0200,Lidera

In [19]:
# 8a. Create the output File (CSV)
output_data_file='WeatherPy_vacation.csv'
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [20]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt><b>Hotel Name</b></dt><dd>{Hotel Name}</dd>
<dt><b>City</b></dt><dd>{City}</dd>
<dt><b>Country</b></dt><dd>{Country}</dd>
<dt><b>Weather</b></dt><dd>{Current Description}</dd>
<dt><b>Max Temp</b></dt><dd>{Max Temp}</dd>
</dl>

"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [21]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))